<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"> <head th:replace="fragments/header :: header" /> <body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div>
        <a href="/restaurants/new">식당 추가하기</a>

        <br/>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>이름</th>
                <th>업종</th>
                <th>전화번호</th>
                <th>거리(km)</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="restaurnt, idx : ${restaurants}">
                <td>
                    <a href="#" th:text="${restaurnt.name}" th:href="@{/restaurants/{id} (id=${restaurnt.id})}"></a>
                </td>
                <td th:text="${restaurnt.category}"></td>
                <td th:text="${restaurnt.telephone}"></td>
                <td th:text="${restaurnt.distance == 987654321.0 ? '거리 정보 없음' : restaurnt.distance}"></td>
            </tr>
            </tbody>
        </table>

        <br/>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->

</body>
<script>

</script>
</html>